{
    "env": {
        "mocha": true,
        "node": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-require-imports": "error",
        "@typescript-eslint/ban-ts-ignore": "warn",
        "@typescript-eslint/interface-name-prefix": 0,
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "varsIgnorePattern": "^_"
            }
        ],
        "max-len": [
            "error",
            {
                "code": 120
            }
        ],
        "no-multiple-empty-lines": "error",
        "object-curly-spacing": "error",
        "no-console": "error",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ]
    }
}
